body {
    font-family: 'Sail', cursive;
    color: white;
    background: black;
}

.navBox {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

nav img {
    position: relative;
    top: 10px;
    left: 10px;
    height: 30px;
}

nav h3 {
    justify-self: flex-start;
    position: relative;
    bottom: 7px;
    margin-left: 20px;
    font-size: 20px;
}

nav span {
    display: flex;
    position: relative;
    left: 5px;
}

a {
    justify-items: flex-end;
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    position: relative;
    justify-self: flex-end;
    list-style: none;
    bottom: 15px;
    right: 20%;
    font-size: 17px;
}

li {
    margin: 15px;
}

.heroImg{
    max-width: 100vw;
    margin-bottom: -300px;
}

.homeTitleBox {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    bottom: 600px;
    left: 100px;
    height: 300px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.8);
}

.homeTitleBox h1 {
    position: relative;
    right: 100px;
    z-index: 2;
    top: 35%;
}

.homeTitleBox img {
    height: 200px;
    position: relative;
    top: 50px;
    left: 130px
}

@media(max-width: 1700px){
    .homeTitleBox {
        bottom: 400px
    }
}

@media(max-width: 1350px){
    .homeTitleBox {
        bottom: 300px
    }

    ul {
        right: 5%
    }
}

@media(max-width: 1050px){
    .homeTitleBox {
        width: 400px;
        height: 200px;
        bottom: 170px;
        margin-bottom: 120px
    }

    .homeTitleBox img {
        height: 100px;
        left: 100px;
    }

    .homeTitleBox h1 {
        font-size: 25px;
        right: 50px
    }
}

@media (max-width: 950px){
    .homeTitleBox {
        bottom: 100px;
        margin-bottom: 110px;
    }
}

@media (max-width: 850px){
    .homeTitleBox {
        bottom: 50px;
    }
}  

@media (max-width: 750px){
    .homeTitleBox {
        width: 320px;
        height: 180px;
        bottom: -5px;
        margin-bottom: 120px;
        margin-left: 120px;
    }

    ul {
        right: 8%
    }
}

@media (max-width: 699px){
    a {
        right: 5%
    }

    .homeTitleBox {
        margin-left: 195px;
        left: -10px;
        top: 30px;
    }

    .homeTitleBox img {
        height: 100px;
    }
}


@media(max-width: 420px) {

    nav h3 {
        font-size: 15px;
        top: 6px
    }

    nav img {
        top: 15px
    }

    a {
        font-size: 14px;
    }

    ul {
        right: 9%;
        bottom: 3px
    }

    .heroImg img {
        margin: 0 auto
    }

    .homeTitleBox {
        height: 100px;
        width: 200px;
        top: 95px;
        left: -70px;
        margin-bottom: 200px;
    }

    .homeTitleBox h1 {
        font-size: 15px;
        right: 25px;
        top: 35px
    }

    .homeTitleBox img {
        height: 50px;
        left: 65px;
        top: 30px
    }

}